.box {
  background-color: beige
}

.foot {
  position: absolute;
  bottom: 0;
  width:100%
}


.bottom{
  background-color: cyan;
  color: black;
  height: 60px;
  text-align: center;
  font-size: 15px;
}

.lat{
  background-color: aqua
}

.data_font{
  color: darkcyan
}
