.box {
  background-color: white;
}

.cont{
  background-color: rgb(237, 237, 237);
}

.foot {
  position: absolute;
  bottom: 0;
  width:100%;
}

.foot2{
   border-top-width: 8px;
   border-top-style: solid;
   border-top-color: rgb(31, 172, 165);

}


.bottom{
  background-color: cyan;
  color: black;
  height: 60px;
  text-align: center;
  font-size: 15px;
}

.lat{
  background-color: aqua
}

.data_font{
  color: darkcyan
}
